* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto,Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 1rem;
}

/* Block    *****************************************************************************************************/
.h1 {
  font-size: 40px;
  text-align: center;
}

.statement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 40vh;
  padding: 20px;
}

.h2 {
  padding: 10px;
  font-weight: 300;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 150px;
  margin: 50px 0;
  letter-spacing: 1.1px;
  border: 1px solid #3498db;
  color: #2980b9;
  max-width: 800px;
  margin: 0 auto;
}

.h3 {
  font-weight: 300;
  padding: 15px;
  font-size: 1.7rem;
  font-weight: 300;
  text-transform: capitalize;
  text-align: center;
  margin: 30px 0 25px 0;
}

.h4 {
  margin: 10px;
  font-size: 2.1rem;
  font-weight: 300;
  text-transform: capitalize;
}

.h5 {
  font-size: 1.6rem;
  font-weight: 300;
  margin: 8px;
}

.h6 {
  color: #444;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 25px;
  text-align: left;
  letter-spacing: 1.1px;
}

.img {
  max-width: 100%;
  display: block;
}

.button {
  margin: 15px;
  background: #e67e22;
  border: 0;
  padding: 10px;
}

.section {
  padding: 25px 0;
}

.hero {
  height: 60vh;
  background: url("./images/barber-1453064_1920.jpg") no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.hero h1 {
  position: relative;
  z-index: 2;
}

.hero::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 50px 10px;
}

.wrapper--text {
  color: #666;
}

.full-page {
  padding: 20px;
  background: #3498db;
  text-align: center;
}

.services {
  displeay: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.services__h3 {
  display: block;
  color: #2980b9;
  letter-spacing: 1.4px;
  margin-bottom: 20px;
}

.h3__standard {
  display: block;
  color: #2980b9;
  letter-spacing: 1.4px;
  margin-bottom: 20px;
}

.service__chunk {
  margin: 50px 0px;
}

.services__p {
  text-align: left;
  color: #555;
  margin: 10px;
  font-size: 1.2rem;
  font-weight: 300;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 1200px;
  margin: 0 auto;
}

.number {
  text-align: center;
  color: #666;
  font-size: 22px;
  margin: 10px;
}

.address {
  text-align: center;
  color: #666;
  font-size: 20px;
  margin: 10px;
}

.city {
  text-align: center;
  color: #666;
  font-size: 16px;
  margin: 6px;
}

.email {
  text-align: center;
  color: #666;
  font-size: 16px;
  margin: 15px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon {
  text-align: center;
  margin: 10px;
  font-size: 30px;
}

.fab {
  color: #666;
}

.logo {
  color: purple;
  font-size: 32px;
  text-align: center;
}

.carousel-wrapper {
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

.carousel {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.carousel__photo {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  margin: auto;
  padding: 0rem 1.8rem;
  z-index: 100;
  -webkit-transition: opacity .5s, z-index .5s, -webkit-transform .5s;
  transition: opacity .5s, z-index .5s, -webkit-transform .5s;
  transition: transform .5s, opacity .5s, z-index .5s;
  transition: transform .5s, opacity .5s, z-index .5s, -webkit-transform .5s;
}

.carousel__photo.initial {
  opacity: 1;
  position: relative;
  z-index: 900;
}

.carousel__photo.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}

.carousel__photo.prev {
  z-index: 800;
}

.carousel__photo.next {
  z-index: 800;
}

.carousel__photo.prev {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.carousel__photo.next {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.carousel__button--prev {
  position: absolute;
  top: 50%;
  width: 1.6rem;
  height: 1.6rem;
  background-color: #FFF;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001;
  border: 1px solid black;
}

.carousel__button--next {
  position: absolute;
  top: 50%;
  width: 1.6rem;
  height: 1.6rem;
  background-color: #FFF;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001;
  border: 1px solid black;
}

.carousel__button--prev {
  left: 0;
}

.carousel__button--next {
  right: 0;
}

.carousel__button--prev::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
          transform: translate(-50%, -50%) rotate(135deg);
}

.carousel__button--next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
          transform: translate(-50%, -50%) rotate(135deg);
}

.carousel__button--next::after {
  left: 47%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.map-responsive {
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin: 0 auto;
}

.map-responsive iframe {
  max-height: 500px;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.other {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin-bottom: 20px;
}

/* Element    *****************************************************************************************************/
.full-page__a {
  text-decoration: none;
  color: white;
}

/* Modifiers    *****************************************************************************************************/
.flex--img-shadow {
  border-radius: 5%;
  -webkit-box-shadow: 2px 2px 9px 2px #555;
          box-shadow: 2px 2px 9px 2px #555;
}

.h3--blue {
  color: #2980b9;
}

.h4--margin {
  margin-top: 40px;
}

.text-size {
  font-size: 1.1rem;
}

.block {
  text-align: center;
  margin: 4px 0;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

/* Media Queries    ************************************************************************************************/
@media screen and (min-width: 480px) {
  .services {
    padding-left: 15%;
  }
}

@media screen and (min-width: 768px) {
  .h2 {
    margin: 10px 0;
  }
  .h3 {
    font-size: 3rem;
  }
  .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .map-responsive {
    margin-left: 3%;
  }
  .carousel__photo {
    padding: 1rem 4rem;
  }
  .carousel__button--next {
    width: 3rem;
    height: 3rem;
  }
  .carousel__button--prev {
    width: 3rem;
    height: 3rem;
  }
  .services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 1200px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 0;
  }
  .h6 {
    text-align: left;
    font-weight: 100;
  }
  .service__chunk {
    margin: 40px 0px;
  }
  .service__chunk--last {
    margin-top: 0;
  }
  .services__p {
    text-align: left;
    color: #555;
    margin: 7px;
    font-size: 1.1rem;
    font-weight: 300;
  }
  .container {
    padding: 80px 60px;
  }
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper {
    margin-top: 0;
  }
  .img-wrapper {
    margin-right: 8%;
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
  .full-page {
    padding: 60px;
  }
  .text {
    font-size: 1rem;
  }
  .text--black {
    color: #777;
  }
  .button {
    margin: 40px;
  }
  .h4--center {
    margin: 25px;
    font-size: 85px;
    font-weight: 300;
  }
  .gallery__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .img__wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%;
  }
  .gallery__img:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
  }
}
/*# sourceMappingURL=style.css.map */